@model QuoteModel;

<link rel="stylesheet" type="text/css" href="site.css" />


<div id="quote" >@Model.Quote</div>
<div id="author">-@Model.Author</div>

<div id=" button"><button name="button" id="button" type="button" onclick="location.reload();">Another Quote</button></div>



